@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Work sans", sans-serif;
    margin: 20px;
    margin-top: -0%;
    justify-content: center;
    align-items: center;
    background-color:#f4f2f2f2;
}
/*award winng sec*/
.content1 {
    display: grid;
    grid-template-columns: repeat( auto-fit , minmax(0rem,auto));
    gap: 3rem;
    justify-content:center;
    align-items:center;
    margin-bottom: 90px;
}

.contact-us-image img{
border-radius: 5px;
height: 500px;
width: 500px;
}



p1{
    color: #ff3366;
    font-size: 25px;
}

h1{
    font-weight: 700;
    font-size: 50px;
}

button1{
    display: block;
    width: 18.5%;
    padding: 8px;
    border: none;
    outline: none;
    background:#ff3366;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 2px;

}

/*form*/
.popup-form {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.form-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 400px;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.input-wrapper {
    position: relative;
    margin-bottom: 20px;
    text-align: left;
}

.input-wrapper input {
    width: 100%;
    padding: 10px 10px 10px 0;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    background: transparent;
    transition: all 0.3s;
    font-size: 16px;
}

.input-wrapper input::placeholder {
    color: transparent;
}

.input-wrapper label {
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 16px;
    color: #5d5c5c;
    pointer-events: none;
    transition: all 0.3s;
}

.input-wrapper input:focus + label,
.input-wrapper input:not(:placeholder-shown) + label {
    top: -10px;
    font-size: 12px;
    color: #5d5c5c;
}

.name-row {
    display: flex;
    gap: 20px;
}

.name-row .input-wrapper {
    flex: 1;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    text-align: left;
}

.checkbox-wrapper input[type="checkbox"] {
    display: none;
}

.checkbox-wrapper label::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1.5px solid #ff3366;
    border-radius: 3px;
    margin-right: 10px;
    vertical-align: middle;
    transition: background-color 0.3s, border-color 0.3s;
}

.checkbox-wrapper input[type="checkbox"]:checked + label::before {
    background-color: #ff3366;
    border-color: #ff3366;
}

.checkbox-wrapper input[type="checkbox"]:checked + label::after {
    content: "";
    display: inline-block;
    width: 5px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    position:absolute;
    left: 4px;
    top: 2px;
}

.checkbox-wrapper label {
    position: relative;
    font-size: 14px;
    color: #5d5c5c;
    cursor: pointer;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background: #ff3366;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 4px;
}



/* what we do sec*/

h2{
    font-weight: 700;
    font-size: 39px;
    font-family: "Work sans", sans-serif;
}

p2{
    justify-content: center;
    align-items: center;
    color: #ff3366;
    font-size: 25px;
}

.slider-info {
    display: flex;
    justify-content: space-between;
}

.slider-info .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.second-paragraph {
    margin-top: 40px; 
}

section {
    padding: 20px;
    margin: 20px;
}


.slider-container {
    position: relative;
    display: flex;
    flex-direction: column;
}
.slider {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 320px;
    position: relative;
}

.slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide-item {
    min-width: calc(33.33% - 2rem);
    margin: 0 1rem;
    position: relative;
    width: 350px;
    height: 320px;
}
.slide-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.dots {
    position: relative;
    bottom: -30px;
    justify-content:left;
}

.dot {
    display: inline-block;
    width: 8px; 
    height: 8px;
    margin: 0 5px; 
    background-color: #060606;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
}

.dot.active {
    background-color:#ff3366;
    
}

/* creating ring for slider dots */
.dot.active::before {
    content: '';
    position: absolute;
    top: -4.5px;
    left: -4.5px;
    width: 15px;
    height: 15px;
    border: 1.5px solid #ff3366; 
    border-radius: 50%;
}


.slide-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#ff3366;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 3px;
}

.slide-item:hover .slide-hover {
    opacity: 1;
}

.content {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.read-more {
    display: inline-block;
    margin-top: -10px;
    padding: 10px 20px;
    background-color:white;
    color:#ff3366;
    text-decoration: none;
    border-radius: 2px;
}


.slide-item .icon {
    width: 50px; 
    height: 50px; 
}

.slide-item .read-more .arrow{
    width: 30px; 
    height: 10px;
}

/* why we are best */
.slot {
    padding: 40px;
    text-align: left;
    cursor: pointer;
    flex: 1 1 300px; 
    max-width: 300px;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    justify-content: left; 
}

.slot img {
    max-width: 40px; 
    max-height: 40px; 
    margin-bottom: 20px;
    justify-content: left;    
}

.choose {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap:0rem; 
}

.slot h4 {
    margin: 10px 0; 
    font-weight: 600;
    font-size: 15px;
}

.slot p {
    margin: 0;
    font-size: 15px;
}




/* our comp growth sec */
.company-growth h2 {
    text-align: center;
    margin-bottom: 90px;
    font-weight: 700px;
    font-size: 39px;
}

.company-growth p3 {
    display: block; 
    text-align: center; 
    margin: 0 auto; 
    font-size: 25px; 
    margin-bottom: 1px; 
    color: #ff3366;
}
.stats {
    display: flex;
    justify-content: space-around;
    align-items: stretch; 
    flex-wrap: wrap;   
}

.card {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s; 
    cursor: pointer;
    flex: 1 1 200px; 
    max-width: 200px;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.card img {
    max-width: 40px; 
    max-height: 40px; 
    margin-bottom: 20px; 
}

.card h4 {
    margin: 10px 0; 
    font-weight: 600;
    font-size: 40px;
}

.card p {
    margin: 0;
    margin-bottom: 10px;

}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}


/* our project sec */

.our-project h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 39px;
}

.our-project p3 {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 25px;
    margin-bottom: 10px;
    color: #ff3366;
}

.project-content {
    display: flex;
    gap: 0; 
    padding: 0;
}

.project-card {
    flex: 1;
    box-sizing: border-box; 
}

.project-image {
    flex-shrink: 0;
    margin-right: 2rem; 
}

.project-image img {
    width: 600px;
    height: 398px;
    object-fit: cover;
    border-radius: 3px;
}

.project-details {
    display: flex;
    flex-direction: column;
}

.detail {
    padding: 10px;
    border: 0px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    background-color: #e0dede;
    
}


.detail:hover {
    background-color: #ff3366;
    color: white;
}

/*feedback sec*/
.feedback h2 {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700px;
    font-size: 39px;
}

.feedback p3 {
    display: block; 
    text-align: center; 
    margin: 0 auto; 
    font-size: 25px; 
    margin-bottom: 1px; 
    color: #ff3366;
}

.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
}
.feedback-card {
    padding: 20px;
    background-color: #f4f2f2f2;
    border-radius: 5px;
    text-align:left;
    cursor: pointer;
    flex: 1 1 130px;
    max-width: 700px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    overflow: hidden;
}

.highlight{
    font-weight: 700;
    color: #ff3366;
}

.non-highlight{
    color: #5d5c5c;
}

/* footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 40px;
    height: 100%;
}
.footer-card {
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    flex: 0 1 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-card img {
    max-width: 100px; 
    max-height: 100px; 
}

footer {
    background-color: #ff3366;
    padding: 10px 0px;
    position: absolute;
    width: 100%;
    height: 200px;
    z-index: 1;
}


